* {
    margin: 0;
    padding: 0;
}

html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
html,
body,
div,
span,
input,
textarea,
select,
button,
td,
th, {
    font-family: Verdana;
    /* font-family: 'Verdana','PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif; */
}

a {
    text-decoration: none
}

.content-box {
    position: absolute;
    left: 250px;
    right: 0;
    top: 70px;
    bottom: 0;
    overflow-y: scroll;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    background: #f0f0f0;
}

.content {
    width: auto;
    padding: 10px;
}

.content-collapse {
    left: 65px;
}

.container {
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.crumbs {
    margin-bottom: 20px;
}

.pagination {
    margin: 20px 0;
    text-align: right;
}

.plugins-tips {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.el-button+.el-tooltip {
    margin-left: 10px;
}

.el-table tr:hover {
    background: #f6faff;
}

.mgb20 {
    margin-bottom: 20px;
}

.move-enter-active,
.move-leave-active {
    transition: opacity .5s;
}

.move-enter,
.move-leave {
    opacity: 0;
}

/*BaseForm*/

.form-box {
    width: 600px;
}

.form-box .line {
    text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
    margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
    padding-bottom: 0;
}

/*Upload*/

.pure-button {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}

.g-core-image-corp-container .info-aside {
    height: 45px;
}

.el-upload--text {
    background-color: #fff;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
    width: 360px;
    height: 180px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.el-upload--text .el-icon-upload {
    font-size: 67px;
    color: #97a8be;
    margin: 40px 0 16px;
    line-height: 50px;
}

.el-upload--text {
    color: #97a8be;
    font-size: 14px;
    text-align: center;
}

.el-upload--text em {
    font-style: normal;
}

/*VueEditor*/

.ql-container {
    min-height: 400px;
}

.ql-snow .ql-tooltip {
    transform: translateX(117.5px) translateY(10px) !important;
}

.editor-btn {
    margin-top: 20px;
}

/*markdown*/

.v-note-wrapper .v-note-panel {
    min-height: 500px;
}



.dateSelector{
    left:40%;
    text-align: center
}
.dateSelector input{
    text-align: center
}
.right {
    float: right;
    clear: both;
}

.clear {
    clear: both;
}

.workday {
    background-color: rgb(243, 248, 237);
}

.workday input {
    background-color: rgb(243, 248, 237);
    padding: 0 10px;
    width: 70%;
}

.weekend {
    background-color: rgb(250, 244, 244);
}

.weekend input {
    background-color: rgb(250, 244, 244);
    padding: 0 10px;
    width: 70%;
}

.workingHourTable .el-table td, .workingHourTable .el-table th
{
    padding: 5px 0;
}
.workingHourTable tr.current-row>td,
.workingHourTable tr.hover-row>td,
.workingHourTable tr.hover-row.current-row>td {
    background-color: rgb(247, 247, 241);
}
.workingHourTable tr.current-row>td.workday,
.workingHourTable tr.hover-row>td.workday,
.workingHourTable tr.hover-row.current-row>td.workday{
     background-color: rgb(226, 240, 207);
}
.workingHourTable tr.current-row>td.workday input,
.workingHourTable tr.hover-row>td.workday input,
.workingHourTable tr.hover-row.current-row>td.workday input{
     background-color:rgb(226, 240, 207);
}
.workingHourTable tr.current-row>td.weekend,
.workingHourTable tr.hover-row>td.weekend,
.workingHourTable tr.hover-row.current-row>td.weekend{
     background-color: rgb(235, 225, 225);
}
.workingHourTable tr.current-row>td.weekend input,
.workingHourTable tr.hover-row>td.weekend input,
.workingHourTable tr.hover-row.current-row>td.weekend input{
     background-color: rgb(235, 225, 225);
}
/*
.myWorkingHourTable tr.current-row>td .workday input
.myWorkingHourTable tr.hover-row>td .workday input,
.myWorkingHourTable tr.hover-row.current-row>td .workday input{
    background-color: rgb(169, 196, 132);
}
.myWorkingHourTable tr.current-row>td .workday
.myWorkingHourTable tr.hover-row>td .workday ,
.myWorkingHourTable tr.hover-row.current-row>td .workday{
    background-color: rgb(169, 196, 132);
}

.current-row .workday input
.hover-row .workday input,
.hover-row.current-row .workday input{
    background-color: rgb(150, 226, 44);
    padding: 0 10px;
    width: 70%;
}

.current-row>td .weekend
.hover-row>td .weekend,
.hover-row.current-row>td .weekend{
    background-color: rgb(212, 57, 57);
}

tr.current-row .weekend input
tr.hover-row .weekend input,
tr.hover-row.current-row .weekend input {
    background-color: rgb(86, 207, 223);
    padding: 0 10px;
    min-width: 70%;
}
*/
.noBorder {
    border-style: none;
}

.workingHourTable input {
    border-style: none;
}

th.teamSum div {
    display: block;
    padding: 1px 0;
    margin: 1px 0;
    text-align: right;
}

.teamSum {
    text-align: right;
}


.alignRight {
    text-align: right;
}

th.alignRight {
    text-align: right;
}

th.alignRight div {
    text-align: right;
}

td.alignRight div {
    text-align: right;
}

td.alignRight div input {
    text-align: right;
}

/* .myWorkingHourTable .current-row{
    background-color: yellow;
} */
